ion-content{
    --background:white !important;
}
.wrapper{
    padding: 20px 21px 25px 27px;
}
.heading{
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #FF0000;
}
.heading_description{
    text-align: center;
    width: 80%;
    margin: 9.5px auto 0px;
    color: #B0B0B0;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 500;
}   
.invite_btn{
    --background:#FF0000;
    --border-radius:0px;
    width:60%;
    height: 44px;
    margin: 0px;
    --box-shadow:none;
}
.cancel_btn{
    --background:white;
    --border-radius:0px;
    width:60%;
    height: 44px;
    --box-shadow:none;
    // margin: 0px;
    --border-color:#8000FF;
    --border-style:solid;
    --border-width:1.5px;
}
.btn-text{
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.btn2-text{
    font-size: 16px;
    font-weight: 500;
    color: #8000FF;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
