<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" src="assets/images/icons/back_arrow.svg" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="text-align: center;">
      <div class="app_title">360UAE</div>
      <div class="welcome_msg" style="margin-top: 16px;">Hey there,</div>
      <div class="welcome_msg">welcome back</div>
      <div class="login_label" style="margin-top: 13px;">Please login your account.</div>
    </div>
    <form [formGroup]="angForm" novalidate>
      <div style="margin-top: 28px;">
        <div class="inputs_label">Email</div>
        <ion-input formControlName="email" class="input_box" (ionInput)="activate('email')" [class.active_input_box]="activateEmailField==true" placeholder="rose.matthews@gmail.com" type="email"></ion-input>
        
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)">
          <div *ngIf="angForm.controls['email'].errors.required" class="alert">
            Email is required
          </div>
          <div *ngIf="angForm.controls['email'].errors.pattern" class="alert">
            Email is invalid
          </div>
        </div>
  
        <div class="inputs_label" style="margin-top: 22px;">Password</div>
        <div class="password_box" [class.active_input_box]="activatePasswordField==true">
          <ion-input formControlName="password" class="password_input" (ionInput)="activate('pwd')"  placeholder="......." type="{{getType}}"></ion-input>
          <ion-icon style="color: #B0B0B0;" name="eye" *ngIf="showPassword==false" (click)="toggleGetType()"></ion-icon>
          <ion-icon style="color: #B0B0B0;" name="eye-off" *ngIf="showPassword==true" (click)="toggleGetType()"></ion-icon>
        </div>
        <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)">
          <div *ngIf="angForm.controls['password'].errors.required" class="alert">
            Password is required
          </div>
        </div>
      </div>
  
      <div class="remerber_forgot_labels" >
        <div style="display: flex;">
          <ion-checkbox slot="start" class="checkbox"></ion-checkbox>
          <span class="rem_fg_lablel" >Remember my preference</span>
        </div>
        <div class="rem_fg_lablel" (click)="gotoForgotPasswordByEmail()">Forgot your password?</div>
      </div>
      
      <ion-button type="submit" [disabled]="angForm.invalid || angForm.pristine" class="login_button" (click)="gotoHome()">
        <span class="btn_text">Login</span>
      </ion-button>
    </form>
    

    <div class="or_choice">
      <hr style="width: 35%;">
      <span class="or_label">or</span>
      <hr style="width: 35%;">
    </div>
    
    <div class="fb_gmail_box">
      <ion-button style="--background:#3245B8;" class="fb_gmail_btns"><img (click)="goBack()" src="assets/images/icons/facebook.svg" alt=""></ion-button>
      <ion-button (click)="googleSignIn()" style="--background:#F04336;" class="fb_gmail_btns"><img  src="assets/images/icons/google.svg" alt=""></ion-button>
    </div>

    <div class="last_div"><span style="font-weight: 400;">Don't have an account? </span> <span (click)="gotoSignUp()" style="font-weight: 700;text-decoration: underline;">Sign up</span> </div>
  </div>
</ion-content>
