<ion-header class="ion-no-border" [class.header_footer_bg]="checkUser.appUserId != null">
  <ion-toolbar class="bgtoolbar" [class.content_background]="checkUser.appUserId != null">
    <div class="header">
      <img (click)="goBack()" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="title">Frequently Asked Questions</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <ion-accordion-group (ionChange)="toggleAccordion($event.detail.value)">
      <ion-accordion *ngFor="let faq of faqs; let i = index" value="{{i}}" style="background: none !important;">
        <div slot="header" class="custom-header">
          <div class="custom-label" [ngClass]="{'active-label': isOpen(i)}">{{ faq.question }}</div>
          <!-- Toggle icon based on open state -->
          <ion-icon [name]="isOpen(i) ? 'chevron-up' : 'chevron-down'"></ion-icon>
        </div>
        <div class="desc" slot="content">
          {{ faq.answer }}
        </div>
      </ion-accordion>
    </ion-accordion-group>




  </div>
</ion-content>