ion-header{
  font-family: 'Poppins', sans-serif;
  background-color: #FCF6FF !important;
}
ion-content{
  font-family: 'Poppins', sans-serif;
  --background:#FCF6FF !important;
}
ion-footer{
  font-family: 'Poppins', sans-serif;
  background-color: #FCF6FF !important;
}

.header_footer_bg{
  background-color: #FBFBFB !important;
}
.content_background{
  --background: #FBFBFB !important;
}
.header{
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px 16px 0px;
}
.bgtoolbar{
  --background: #FCF6FF;
}
.title{
  font-size: 20px;
  font-weight: 700;
  color: #0F172A;
  font-family: 'Poppins', sans-serif;
  margin: 0px auto;
}
.apply_label{
  font-size: 14px;
  font-weight: 600;
  color: #0F172A;
  font-family: 'Poppins', sans-serif;
  margin-right: 5px;
}
.wrapper{
  padding:12px 16px 16px;
}


.col1 {
  font-size: 14px;
  font-weight: 400;
  color: #0F172A;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}
.col2{
  color: #8D8D8D;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
