<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="header_title">Ratings</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="rating_item" >
      <img class="user_img" src="assets/images/message_profile_dummy1.svg" alt="">
      <div>
        <div class="title_star_div" >
          <div class="user_title" >Josh Gibson</div>
          <div >
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/empty_star.svg" alt="">
          </div>
        </div>
        <div class="item_text" >
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
          eirmod tempor invidunt ut labore et dolore magna.
        </div>
      </div>
    </div>
    <!-- ==============================copy============================ -->
    <div class="rating_item" >
      <img class="user_img" src="assets/images/message_profile_dummy1.svg" alt="">
      <div>
        <div class="title_star_div" >
          <div class="user_title" >Josh Gibson</div>
          <div >
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/empty_star.svg" alt="">
          </div>
        </div>
        <div class="item_text" >
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
          eirmod tempor invidunt ut labore et dolore magna.
        </div>
      </div>
    </div>
    <!-- ==============================copy============================ -->
    <div class="rating_item" >
      <img class="user_img" src="assets/images/message_profile_dummy1.svg" alt="">
      <div>
        <div class="title_star_div" >
          <div class="user_title" >Josh Gibson</div>
          <div >
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/empty_star.svg" alt="">
          </div>
        </div>
        <div class="item_text" >
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
          eirmod tempor invidunt ut labore et dolore magna.
        </div>
      </div>
    </div>
    <!-- ==============================copy============================ -->
    <div class="rating_item" >
      <img class="user_img" src="assets/images/message_profile_dummy1.svg" alt="">
      <div>
        <div class="title_star_div" >
          <div class="user_title" >Josh Gibson</div>
          <div >
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="start_margin" src="assets/images/icons/empty_star.svg" alt="">
          </div>
        </div>
        <div class="item_text" >
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
          eirmod tempor invidunt ut labore et dolore magna.
        </div>
      </div>
    </div>
  </div>
</ion-content>
