ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FBFBFB !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
.urbanist{
    font-family: "Urbanist", sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    padding: 30px 16px 15px;
    position: relative;
}
.header_title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0F172A;
    margin: 0px auto;
}
// .show_status{
//     font-size: 14px;
//     font-weight: 500;
//     font-family: 'Poppins', sans-serif;
//     color: #12D804;
// }
.bgtoolbar{
    --background: #FBFBFB;
}
.wrapper{
    padding:15px 16px 20px;
}
.rating_item{
    display: flex;
    align-items: center;
    padding: 15px 12px 13px 12px;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
    margin-top: 15px;
}
.user_img{
    margin-right: 18px;
}
.title_star_div{
    display: flex;
    justify-content: space-between;
}
.user_title{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.start_margin{
    margin-right: 3.8px;
}
.item_text{
    height: auto;
    max-height: 32px;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #272727;width: 95%;
}
.ion_tab_bar{
    padding: 8px 8px 12px 0px;
    border-radius: 20px 20px 0px 0px;
    height: 52px;
    box-shadow: 0px -3px 10px rgb(0 0 0 / 16%);
    background: white;
}
.btn_label{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #B1A8B9;
    line-height: 1.6;
}
