<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">Home</div>
      <div style="display: flex">
       <div class="bell_div">
         <div class="notifications" >{{totalNotifications}}</div>
         <img src="assets/images/icons/bell.svg" alt="">
       </div>
       <div style="display: flex;padding-left: 13.5px;">
         <img (click)="gotoFilter()" src="assets/images/icons/filter.svg" alt="">
       </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    
    <div class="search_box">
      <div style="width: 100%;">
        <ion-input class="input_field" placeholder="Search for Cars"></ion-input>
      </div>
      <div style="display: flex;"><img src="assets/images/icons/search_input.svg" alt=""></div>
    </div>

  </div>
      <div class="items_label">What are you looking for?</div>
      <div style="padding-left: 11px;padding-right: 11px; ">
        <swiper [config]="{slidesPerView:4.4, spaceBetween:9, initialSlide:0, speed:400}" [pagination]="false" style="padding: 8px;">
          <ng-template swiperSlide class="categories">
            <div class="carItem_box" [class.selected_item]="item1 == true" (click)="selectItem('all')">
              <img src="assets/images/icons/car_grey.svg" alt="" *ngIf="item1 == false">
              <img src="assets/images/icons/car_white.svg" alt="" *ngIf="item1 == true">
              <div class="cars_label" [class.fontActive]="item1 == true">All Cars</div>
            </div>
          </ng-template>
          <ng-template swiperSlide class="categories">
            <div class="carItem_box" [class.selected_item]="item2 == true" (click)="selectItem('Sports')">
              <img src="assets/images/icons/sports_car_grey.svg" alt="" *ngIf="item2 == false">
              <img src="assets/images/icons/sports_car_white.svg" alt="" *ngIf="item2 == true">
              <div class="cars_label" [class.fontActive]="item2 == true">{{carTypeOne}}</div>
            </div>
          </ng-template>
          <ng-template swiperSlide class="categories">
            <div class="carItem_box" [class.selected_item]="item3 == true" (click)="selectItem('Luxury')">
              <img src="assets/images/icons/luxury_car_grey.svg" alt="" *ngIf="item3 == false">
              <img src="assets/images/icons/luxury_car_white.svg" alt="" *ngIf="item3 == true">
              <div class="cars_label" [class.fontActive]="item3 == true">{{carTypeTwo}}</div>
            </div>
          </ng-template>
          <ng-template swiperSlide class="categories">
            <div class="carItem_box" [class.selected_item]="item4 == true" (click)="selectItem('Pickup')">
              <img src="assets/images/icons/taxi_grey.svg" alt="" *ngIf="item4 == false">
              <img src="assets/images/icons/taxi_white.svg" alt="" *ngIf="item4 == true">
              <div class="cars_label" [class.fontActive]="item4 == true">{{carTypeThree}}</div>
            </div>
          </ng-template>
          <ng-template swiperSlide class="categories" >
            <div class="carItem_box" [class.selected_item]="item5 == true" style="margin-right: 0px;" (click)="selectItem('SUV')">
              <img src="assets/images/icons/suv's_grey.svg" alt="" *ngIf="item5 == false">
              <img src="assets/images/icons/suv's_white.svg" alt="" *ngIf="item5 == true">
              <div class="cars_label" [class.fontActive]="item5 == true">{{carTypeFour}}</div>
            </div>
          </ng-template>
        </swiper>
      </div>
      
      <!-- <div class="items_box">
      </div> -->
  

  <div class="items_wrapper">
    <div class="items_label" style="margin-top: 5px;padding-left: 3px;">Top Rented</div>
    <!-- <div *ngIf="item1==true"> -->
      <swiper pager="false" [config]="{slidesPerView:1.4 ,spaceBetween:9, initialSlide:0, speed:400}" [pagination]="false">
        <ng-template swiperSlide *ngFor="let pickup of pickups;" style="width: 58%; height: 100%;">
          <ion-card class="card" (click)="gotoCarDetails(pickup.car_id)">
            <img class="car_img" src="{{imageUrlString}}{{pickup.image1}}" alt="">
            <div style="padding: 5px 7px 7.5px 8px;">
              <div>
                <div class="card_title">{{pickup.vehical_name}}</div>
              </div>
              <div class="card_content">
                <div class="row_div">
                  <div>
                    <span *ngIf="pickup.rating == 0 ">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                    </span>
                    <span *ngIf="pickup.rating >=1 && pickup.rating < 1.5">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                    </span>
                    <span *ngIf="pickup.rating >=1.5 && pickup.rating < 2.5">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                    </span>
                    <span *ngIf="pickup.rating >=2.5 && pickup.rating < 3.5">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                    </span>
                    <span *ngIf="pickup.rating >=3.5 && pickup.rating < 4.5">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                    </span>
                    <span *ngIf="pickup.rating >=4.5 && pickup.rating < 5.1">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                      <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    </span>
                  </div>
                  <div style="line-height: 1.2;">
                    <span class="price_span" style="font-size: 11px;">$</span>
                    <span class="price_span" style="font-size: 32px;line-height: 0.8;" *ngIf="categoryVal=='Day'">{{pickup.rent_cost_day}}</span>
                    <!-- <span class="price_span" style="font-size: 32px;" *ngIf="categoryVal=='Day'">{{pickup.rent_cost_day}}</span>
                    <span class="price_span" style="font-size: 32px;" *ngIf="categoryVal=='Month'">{{pickup.rent_cost_month}}</span> -->
                  </div>
                  
                </div>
                <div class="row_div" >
                  
                    <div class="total_trips"> trips</div>
                    <div style="text-align: right;">
                      <span class="price_label" style="margin-right: 5px;">Per Day</span>
                    </div>
                    <!-- <div (click)="displayCategories(pickup.car_id)" style="display: flex;align-items: baseline;position: relative;justify-content: flex-end;">
                    <span class="price_label" style="margin-right: 5px;">{{categoryVal}}</span> 
                    <img [class.rotate_icon]="showCategories==true"  src="assets/images/icons/dropdown_icon.svg" alt="">
                    <div  class="price_categories">
                      <div *ngFor="let type of rentCategories" (click)="selectedCategory(type.category,pickup.car_id)">
                        <span class="price_label" style="font-size: 12px; font-family: 'Poppins',sans-serif;">{{type.category}}</span>
                      </div> 
                    </div>
                    </div> -->
                </div>
              </div>
            </div>
            
          </ion-card>
        </ng-template>
      </swiper>
      <!-- <ion-slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let pickup of pickups;" style="width: 48%; height: 100%;">
          <ion-card class="card" >
            <img (click)="gotoCarDetails()" style="width: 100%;" src="{{pickup.img}}" alt="">
            <div style="padding: 5px 7px 7.5px 8px;">
              <div>
                <div class="card_title">{{pickup.name}}</div>
              </div>
              <div class="card_content">
                <div>
                  <div>
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
                  </div>
                  <div class="total_trips">{{pickup.total_trips}} trips</div>
                </div>
                <div>
                  <div style="line-height: 1.2;"><span class="price_span" style="font-size: 11px;">$</span><span class="price_span" style="font-size: 32px;">{{pickup.price}}</span> </div>
                  
                  <div (click)="displayCategories()" style="display: flex;align-items: baseline;position: relative;">
                    <span class="price_label" style="margin-right: 5px;">{{categoryVal}}</span> 
                    <img [class.rotate_icon]="showCategories==true"  src="assets/images/icons/dropdown_icon.svg" alt="">
                    <div *ngIf="showCategories==true" class="price_categories">
                      <div *ngFor="let type of rentCategories" (click)="selectedCategory(type.category)">
                        <span class="price_label" style="font-size: 12px; font-family: 'Poppins',sans-serif;">{{type.category}}</span>
                      </div> 
                    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
            
          </ion-card>
        </ion-slide>
      </ion-slides>
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let pickup of pickups;" style="width: 48%; height: 100%;padding-bottom: 1px;">
          <ion-card class="card" >
            <img (click)="gotoCarDetails()" style="width: 100%;" src="{{pickup.img}}" alt="">
            <div style="padding: 5px 7px 7.5px 8px;">
              <div>
                <div class="card_title">{{pickup.name}}</div>
              </div>
              <div class="card_content">
                <div>
                  <div>
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                    <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
                  </div>
                  <div class="total_trips">{{pickup.total_trips}} trips</div>
                </div>
                <div>
                  <div style="line-height: 1.2;"><span class="price_span" style="font-size: 11px;">$</span><span class="price_span" style="font-size: 32px;">{{pickup.price}}</span> </div>
                  
                  <div (click)="displayCategories()" style="display: flex;align-items: baseline;position: relative;">
                    <span class="price_label" style="margin-right: 5px;">{{categoryVal}}</span> 
                    <img [class.rotate_icon]="showCategories==true"  src="assets/images/icons/dropdown_icon.svg" alt="">
                    <div *ngIf="showCategories==true" class="price_categories">
                      <div *ngFor="let type of rentCategories" (click)="selectedCategory(type.category)">
                        <span class="price_label" style="font-size: 12px; font-family: 'Poppins',sans-serif;">{{type.category}}</span>
                      </div> 
                    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
            
          </ion-card>
        </ion-slide>
      </ion-slides> -->
    <!-- </div> -->
    
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div style="margin: 15px 0px 15px;">
      <div style="text-align: center;">
        <div class="invite_label">Invite Friends</div>
        <div class="invite_label" style="font-weight: 400;">And spread the word</div>
      </div>
      <div style="text-align: center;">
        <ion-button class="invite_btn">
          <span class="btn-text">Invite</span>
        </ion-button>
      </div>
    </div>
    
    
  </ion-toolbar>
</ion-footer>
