<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">About Us</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="margin: 8px 8px 0px;">
      <div class="description_para">
        Find the perfect rental car for your trip 360UAE is a leader in online
        car rental reservations; we compare car rental deals from many 
        companies so that you can choose which is best for your trip. 
      </div>
      <br>
      <div class="description_para">
        Many other websites hide fees and extra costs from you. 360 includes all
        mandatory fees, taxes, and extras in the quoted price so there won't be
        any surprises when you arrive at the rental desk.
      </div>
      <br>
      <div class="description_para" style="font-weight: 700;">Why should you book with us?</div>
    </div>
    
    <div>
      <div class="list_item" >
        <img style="margin-right: 18.5px;" src="assets/images/icons/rated_star.svg" alt="">
        <div class="description_points">No Hidden Fees</div>
      </div>
      <div class="list_item" >
        <img style="margin-right: 18.5px;" src="assets/images/icons/rated_star.svg" alt="">
        <div class="description_points">24/7 Customer Service</div>
      </div>
      <div class="list_item" >
        <img style="margin-right: 18.5px;" src="assets/images/icons/rated_star.svg" alt="">
        <div class="description_points">Information You Can Trust</div>
      </div>
    </div>
  </div>
</ion-content>
