ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FBFBFB !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
.urbanist{
    font-family: "Urbanist", sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.bgtoolbar{
    --background: #FBFBFB;
}
.header{
    position: relative;
    padding: 30px 16px 0px;
    display: flex;
    align-items: center;
}
.menuicon{
	color: var(--menu-icon);
    position: absolute;
}
.title{
    font-size: 20px;
    font-weight: 700;
    color: #0F172A;
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
}
.wrapper{
    padding:5px 16px 20px;
}
.btns_bg_css{
    display: flex;
    justify-content: space-between;
    padding: 15px 16px 5px;
}
.tab_button{
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    font-weight: 400;
    --color: #B0B0B0;
    --background: #FBFBFB;
    height: 48px;
    width: 48%;
    margin: 0px;
    text-transform: capitalize;
    --box-shadow: !important;
    --border-color: #D4DCE1;
    --border-width: 1.5px;
    --border-style: solid;
    --border-radius: 10px !important;
}
.tab_active{
    --background:#8000FF;
    font-weight: 600;
    --color: white;
}
.car_info_box{
    display: flex;
    justify-content: space-between;
    background: #0F172A;
    border: 1px solid white;
    border-radius: 0px 0px 10px 10px;
    // position: absolute;
    bottom: 0;
    padding: 9px 12px 8.5px 16px;
    width: 100%;
}
.car_name{
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 1;
    text-align: left;
}
.rating_value{
    font-size: 12px;
    color: #D4DCE1;
    font-weight: 400;
}
.car_info_subdiv{
    position: absolute;
    right: 12px;
    bottom: 0px;
}
.cost_label{
    font-size: 10px;
    font-weight: 500;
    color: white;
    margin-right: 8px;
}
.car_price{
    font-size: 11px;
    font-weight: 600;
    color: white;
}
.star_margin{
    margin-right: 3px;
}
.rebook_label{
    position: absolute;
    bottom: 29%;
    right: 16px;
    background: #FFDF00;
    padding: 4px 29px;
    border-radius: 34px;
    font-size: 12px;
    font-weight: 400;
    color: #0F172A;
}
.status_label{
    position: absolute;
    bottom: 29%;
    left: 16px;
    background: #0F172A;
    // background: #8000FF;
    padding: 4px 29px;
    border-radius: 34px;
    font-size: 12px;
    font-weight: 400;
    color: white;
}
.box_styling{
    background: #FBFBFB;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
    padding: 11px 12px 10px;
    border-radius: 5px;
    height: auto;
    max-height: 180px;
    overflow: hidden;
}
.box_heading{
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: "Poppins", sans-serif;
}
.set_width{
    width: 43.5%;
}
.range_div{
    transform: rotate(90deg);
    position: absolute;
    top: 46px;
    right: 37.5%;
    width: 135px !important;
}
.ion_range{
    --knob-background: #8000FF!important;
    --bar-background: #D4DCE1 !important;
    --knob-box-shadow: 0px 0px 2px 5px white;
    --knob-size: 11px;
    --bar-height: 1px;
}
.box_description{
    margin-top: 7px;
    font-size: 12px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", sans-serif;
    height: auto;
    max-height: 90px;
    overflow: hidden;
}
.box_sub_heading{
    margin-top: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #8000FF;
    font-family: "Poppins", sans-serif;
}
.car2_price{
    font-size: 11px;
    font-weight: 600;
    color: white;
}
.car2_info_subdiv{
    display: flex;
    align-items: center;
}
.invite_btn{
    --background:#8000FF;
    --border-radius:0px;
    width:65%;
    height: 44px;
    margin-top: 9px;
    --box-shadow:none;
}
.btn-text{
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.btn_label{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #B1A8B9;
    line-height: 1.6;
}
.btnActive_label{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #8000FF;
    line-height: 1.6;
}
.ion_tab_bar{
    padding: 8px 8px 12px 0px;
    border-radius: 20px 20px 0px 0px;
    height: 52px;
    box-shadow: 0px -3px 10px rgb(0 0 0 / 16%);
    background: white;
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .range_div{
        transform: rotate(90deg);
        position: absolute;
        top: 46px;
        right: 43.5%;
        width: 135px !important;
    }
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 896px) 
  { 

    .range_div {
        transform: rotate(90deg);
        position: absolute;
        top: 46px;
        right: 46.5%;
        width: 135px !important;
    }
}
@media screen 
  and (device-width: 412px) 
  and (max-device-height: 915px) 
  {
    .range_div{
        transform: rotate(90deg);
        position: absolute;
        top: 46px;
        right: 43.5%;
        width: 135px !important;
    }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .set_width{
        width: 43.5%;
        height: 175px;
    }
    .range_div{
        transform: rotate(90deg);
        position: absolute;
        top: 46px;
        right: 73.5%;
        width: 135px !important;
    }
}