ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FBFBFB !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
.urbanist{
    font-family: "Urbanist", sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    padding: 30px 16px 15px;
    position: relative;
}
.header_title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0F172A;
    margin: 0px auto;
}
.bgtoolbar{
    --background: #FBFBFB;
}
.wrapper{
    padding:15px 16px 20px;
}
.profile_div{
    position: relative;
    width: 175px;
    margin: 0px auto;
}
.edit_icon{
    position: absolute;
    top: 60%;
    right: 6.6%;
}
.input_label{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #7E7E7E;
}
ion-input{
    --background: #FBFBFB;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    --color: black;
    --placeholder-font-weight: 400;
    --placeholder-color: #8D8D8D;
    border: 1px solid #EFEFEF;
    --padding-start: 15px;
    --padding-top: 11px;
    --padding-bottom: 11px;
    margin-top: 5px;
}
ion-textarea{
    --background: #FBFBFB;
    --placeholder-color: #8D8D8D;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    --color: black;
    --placeholder-font-weight: 400;
    --padding-start: 15px;
    border: 1px solid #EFEFEF;
    height: auto;
    max-height: 70px;
    overflow: scroll;
    margin-top: 5px;
    --padding-end:10px;
}
.alert{
    color: #d93025;
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    padding: 4px 4px 0px;
    margin: 0px;
}
.active_input{
    border: 1px solid #8000FF;
}
.login_button{
    --border-radius: 0px;
    --background: #8000FF;
    height: 48px;
    width: 100%;
    margin: 24px auto 0px;
    --box-shadow:none;
}
.btn_text{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-transform: capitalize !important;
}