<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">Bookings</div>
    </div>
    <div style="display: flex;justify-content: space-between;padding: 15px 16px 5px;">
      <ion-button class="tab_button" [class.btn_active]="previous_tab=='true'" (click)="previousTab()">Previous</ion-button>
      <ion-button class="tab_button" [class.btn_active]="upcoming_tab=='true'" (click)="upcomingTab()">Upcoming</ion-button>
    </div>
  </ion-toolbar>
    
</ion-header>

<ion-content>
  <div class="wrapper">
    
    <div *ngIf="previous_tab=='true'" >
     
      <div class="no_booking" *ngIf="response == 'false'">Bookings Unavailable  </div>
      <div *ngFor="let data of previousBookingRecords"> 
        <div style="text-align: center;position: relative;margin-top: 16px;" (click)="showDetails(data)">
          <img style="width: 100%;height: 200px;border-radius: 10px 10px 0px 0px;object-fit: cover;" src="{{api.imageUrlString}}{{data.cars_details[0].image1}}" alt="">
          
          <div *ngIf="data.user_favourite_cars.length>0">
            <img  style="position: absolute;right: 5%;top: 5%;" src="assets/images/icons/heart.svg" alt="" *ngIf="data.user_favourite_cars[0].status !='liked'">
            <img style="position: absolute;right: 5%;top: 5%;" src="assets/images/icons/red_heart.svg" alt="" *ngIf="data.user_favourite_cars[0].status == 'liked'">
          </div>
          
          <div *ngIf="data.user_favourite_cars.length==0">
            <img  style="position: absolute;right: 5%;top: 5%;" src="assets/images/icons/heart.svg">
          </div>
         
          <div class="rebook_label poppins" >Rebook</div>
          <div class="status_label poppins" >{{data.status}}</div>
          <div class="car_info_box" >
            <div>
              <div class="car_name poppins">{{data.cars_details[0].vehical_name}}</div>
              <!-- (click)="openModal()" -->
              <div style="text-align: left;line-height: 1;" >
                <span *ngIf="data.cars_details[0].rating == 0">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=1 && data.cars_details[0].rating < 1.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=1.5 && data.cars_details[0].rating < 2.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=2.5 && data.cars_details[0].rating < 3.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=3.5 && data.cars_details[0].rating < 4.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=4.5 && data.cars_details[0].rating < 5.1">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                </span>
                <span class="rating_value urbanist" style="color: #FFDF00;text-decoration: underline;" *ngIf="data.cars_details[0].rating == 0">not rated yet</span>
                <span class="rating_value urbanist" *ngIf="data.cars_details[0].rating != 0">({{data.cars_details[0].rating}})</span>
              </div>
            </div>
            <div class="car_info_subdiv">
              <div><span class="cost_label poppins">Total Cost</span><span class="car_price poppins">$</span><span class="car_price poppins" style="font-size: 32px;">{{data.total_cost}}</span></div>
            </div>
          </div>
        </div>
        
        
      </div>

    </div>
    <div *ngIf="upcoming_tab=='true'" >
      <div class="no_booking" *ngIf="response == 'false'">Bookings Unavailable</div>
      <div *ngFor="let data of upcomingBookingRecords">
        <div style="text-align: center; position: relative;margin-top: 16px;" (click)="showDetails(data)">
          <img style="width: 100%;height: 200px;border-radius: 10px 10px 0px 0px;object-fit: cover;" src="{{api.imageUrlString}}{{data.cars_details[0].image1}}" alt="">
          <!-- (click)="updateFavoriteStatus(data.car_id)" -->
          <div *ngIf="data.user_favourite_cars.length>0">
            <img  style="position: absolute;right: 5%;top: 5%;" src="assets/images/icons/heart.svg" alt="" *ngIf="data.user_favourite_cars[0].status !='liked'">
            <img style="position: absolute;right: 5%;top: 5%;" src="assets/images/icons/red_heart.svg" alt="" *ngIf="data.user_favourite_cars[0].status == 'liked'">
          </div>
          <div *ngIf="data.user_favourite_cars.length==0">
            <img  style="position: absolute;right: 5%;top: 5%;" src="assets/images/icons/heart.svg">
          </div>
          <!-- (click)="openCancelBookingModal()" -->
          <div class="rebook_label urbanist" style="background: #E23C3C;color: white;" >Cancel</div>
          <div class="status_label poppins" >{{data.status}}</div>
          <div class="car_info_box">
            <div>
              <div class="car_name urbanist">{{data.cars_details[0].vehical_name}}</div>
              <div style="text-align: left;line-height: 1;">
                <span *ngIf="data.cars_details[0].rating == 0">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=1 && data.cars_details[0].rating < 1.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=1.5 && data.cars_details[0].rating < 2.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=2.5 && data.cars_details[0].rating < 3.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=3.5 && data.cars_details[0].rating < 4.5">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" style="margin-right: 3.8px;" src="assets/images/icons/empty_star.svg" alt="">
                </span>
                <span *ngIf="data.cars_details[0].rating >=4.5 && data.cars_details[0].rating < 5.1">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                  <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
                </span>
                <span class="rating_value urbanist" style="color: #FFDF00;text-decoration: underline;" *ngIf="data.cars_details[0].rating == 0">not rated yet</span>
                <span class="rating_value urbanist" *ngIf="data.cars_details[0].rating != 0">({{data.cars_details[0].rating}})</span>
              </div>
            </div>
            <div class="car_info_subdiv">
              <div><span class="cost_label urbanist">Total Cost</span><span class="car_price urbanist">$</span><span class="car_price urbanist" style="font-size: 32px;">{{data.total_cost}}</span></div>
            </div>
          </div>
        </div>
        
      </div>

    </div>

  </div>

</ion-content>
<ion-footer class="ion-no-border">

    <ion-tabs style="display:contents ;">

      <ion-tab-bar class="ion_tab_bar" slot="bottom">

        <ion-tab-button  style="background: white;" (click)="homeTab()">
          <img src="assets/images/tab_icons/home.svg" alt="">
          <ion-label class="btn_label">Home</ion-label>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
    
        <ion-tab-button  style="background: white;" (click)="messagesTab()">
          <img style="height: 32px;width: 32px;"  src="assets/images/tab_icons/messages.svg" alt="">
          <ion-label class="btn_label" >Messages</ion-label>
        </ion-tab-button>
    
        <ion-tab-button  style="background: white;" (click)="bookingTab()">
          <img src="assets/images/tab_icons/booking_active.svg" alt="">
          <ion-label class="btnActive_label">Booking</ion-label>
        </ion-tab-button>
    
        <ion-tab-button  style="background: white;" (click)="favoriteTab()">
          <img src="assets/images/tab_icons/favorite.svg" alt="">
          <ion-label class="btn_label">Favorities</ion-label>
        </ion-tab-button>

      </ion-tab-bar>

    </ion-tabs>
</ion-footer>
