<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="header_title">BMW 2 series</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="text-align: center; margin-top: 13px; position: relative; ">
      <img style="width: 100%;" src="assets/images/bookings_car.svg" alt="">
      <img style="position: absolute;right: 5%;top: 5%;" src="assets/images/icons/red_heart.svg" alt="">
      <div class="car_info_box" >
        <div>
          <div class="car_name poppins">BMW 2 series</div>
          <div style="text-align: left;line-height: 1;">
            <span>
              <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="start_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="start_margin" style="margin-right: 6.8px;" src="assets/images/icons/empty_star.svg" alt="">
            </span>
            <span class="rating_value poppins">269 trips</span>
          </div>
        </div>
        <div class="car2_info_subdiv">
          <div style="margin-right: 17px;line-height: 1;"><span class="car2_price poppins" >$</span><span class="car2_price poppins" style="font-size: 32px;margin-right: 8px;">26</span><span class="car2_price poppins" style="font-size: 10px;font-weight: 500;">/Day</span></div>
        </div>
        
      </div>
    </div>

    <div class="cost_price_div">
      <div class="cost_label poppins">Total Cost</div>
      <div class="cost_label poppins" style="color: #8000FF;">$203</div>
    </div>

    <div class="sub_heading_label urbanist" style="margin-top: 16px;">Rent Dates</div>
    <div style="display: flex; margin-top: 7px; justify-content: space-between;">
      <div class="date_time_box">
        <span class="date_time_label">Start Date</span> 
        <span class="date_time_data">{{startDate}}</span>
      </div>
      <div class="date_time_box">
        <span class="date_time_label">End Date</span>
        <span class="date_time_data">{{endDate}}</span>
      </div>
    </div>

    
    <div style="display: flex; margin-top: 14px;justify-content: space-between;">
      <div style="width: 48.5%;">
        <div class="sub_heading_label urbanist">Rent Time</div>
        <div class="date_time_box" style="margin-top:7px; width: 100%;">
          <span class="date_time_label">Start Time</span>
          <span class="date_time_data">{{startTime}}</span>

        </div>
      </div>
      <div style="width: 48.5%;">
        <div class="sub_heading_label urbanist">Rent Time</div>
        <div class="date_time_box" style="margin-top:7px; width: 100%;">
          <span class="date_time_label">End Time</span>
          <span class="date_time_data">{{endTime}}</span>
        </div>
      </div>
    </div>

    <div class="sub_heading_label urbanist" style="margin-top:14px">Location</div>
    <div style="display: flex;margin-top:10px;">
      <div style="margin-right: 10.9px;"><img src="assets/images/icons/summary_location.svg" alt=""></div>
      <div>
        <div class="date_time_label">Pickup</div>
        <div class="location_data">Lorium Ipsum, CA</div>
      </div>
    </div>

    <div class="sub_heading_label urbanist" style="margin-top:12px">Driving License</div>
    <div style="text-align: center;">
      <img style="margin-top: 16px;" src="assets/images/driving_license.svg" alt="">
    </div>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <div style="padding: 0px 16px 20px;">
    <ion-button class="login_button" (click)="startPaymentProcess()">
      <span class="btn_text">Done</span>
    </ion-button>
  </div>
</ion-footer>
