<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="header_title">{{vehicleName}}</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="car_div" *ngFor="let data of carData">
      <img class="car_image" src="{{api.imageUrlString}}{{data.image1}}" alt="">
      
      <img class="heart_icon" (click)="makefavorite()" src="assets/images/icons/heart.svg" alt="" *ngIf="favorites == 'dislike'">
      <img class="heart_icon" (click)="makefavorite()" src="assets/images/icons/red_heart.svg" alt="" *ngIf="favorites == 'liked'">
      <div class="car_info_box" >
        <div>
          <div class="car_name poppins">{{data.vehical_name}}</div>
          <div class="left_subdiv">
            
            <span *ngIf="data.rating && (data.rating == 0 || null)">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
            </span>
            <span *ngIf="data.rating >=1 && data.rating < 1.5">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
            </span>
            <span *ngIf="data.rating >=1.5 && data.rating < 2.5">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
            </span>
            <span *ngIf="data.rating >=2.5 && data.rating < 3.5">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
            </span>
            <span *ngIf="data.rating >=3.5 && data.rating < 4.5">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
            </span>
            <span *ngIf="data.rating >=4.5 && data.rating < 5.1">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
              <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
            </span>
            
            <span class="rating_value poppins">{{data.total_bookings}} trips</span>
          </div>
        </div>
        <div class="car2_info_subdiv">
          <div style="line-height: 1;">
            <span class="car2_price poppins" >$</span>
            <span class="car2_price poppins" style="font-size: 32px;margin-right: 8px;">{{data.rent_cost_day}}</span>
            <span class="car2_price poppins" style="font-size: 10px;font-weight: 500;">/Day</span>
          </div>
        </div>
        
      </div>
    </div>

    <div class="cost_price_div">
      <div class="cost_label poppins">Total Cost</div>
      <div class="cost_label poppins" style="color: #8000FF;">${{totalCost}}</div>
    </div>

    <div class="sub_heading_label urbanist" style="margin-top: 10px;">Rent Dates</div>
    <div style="display: flex; margin-top: 7px; justify-content: space-between;">
      <div class="date_time_box">
        <span class="date_time_label">Start Date</span> 
        <span class="date_time_data">{{startDate}}</span>
      </div>
      <div class="date_time_box">
        <span class="date_time_label">End Date</span>
        <span class="date_time_data">{{endDate}}</span>
      </div>
    </div>

    
    <div class="st_end_time_div">
      <div style="width: 48.5%;">
        <div class="sub_heading_label urbanist">Rent Time</div>
        <div class="date_time_box time_css" >
          <span class="date_time_label">Start Time</span>
          <span class="date_time_data">{{startTime}}</span>

        </div>
      </div>
      <div style="width: 48.5%;">
        <div class="sub_heading_label urbanist">Rent Time</div>
        <div class="date_time_box time_css" >
          <span class="date_time_label">End Time</span>
          <span class="date_time_data">{{endTime}}</span>
        </div>
      </div>
    </div>

    <div class="sub_heading_label urbanist" style="margin-top:12px">Location</div>
    <div style="display: flex;margin-top:10px;">
      <div style="margin-right: 10.9px;"><img src="assets/images/icons/summary_location.svg" alt=""></div>
      <div>
        <div class="date_time_label">Pickup</div>
        <div class="location_data">{{getLocation}}</div>
      </div>
    </div>

    <div class="sub_heading_label urbanist" style="margin-top:12px">Driving License</div>
    <div style="text-align: center;">
      <img class="license_img" src="{{drivingLicense}}" alt="">
    </div>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar style="--background: #FBFBFB;">
    <div style="padding: 0px 16px 20px;">
      <ion-button class="login_button" (click)="startPaymentProcess()">
        <span class="btn_text">Done</span>
      </ion-button>
    </div>
  </ion-toolbar>
  
</ion-footer>
