<ion-content>
  <div class="wrapper">
    <div style="text-align: right;">
      <img (click)="justCloseModal()" src="assets/images/icons/close_modal.svg" alt="">
    </div>
    <div class="heading">Cancel?</div>
    <div class="heading_description">Are you sure you want to cancel your booking?</div>
    <div class="cancelling_terms">* Cancelling booking will result in 10% cut of your payment.</div>
    <div class="cancelling_terms" style="margin-top: 9.5px;">* Booking can not be cancelled if 24 hours are remaining in starting.</div>
    <div style="text-align: center;margin-top: 21px;">
      <ion-button class="invite_btn" (click)="cancelBooking()">
        <span class="btn-text" >Okay</span>
      </ion-button>
    </div>
    <div style="text-align: center;margin-top: 16px;">
      <ion-button class="cancel_btn" (click)="justCloseModal()">
        <span class="btn2-text" >No</span>
      </ion-button>
    </div>
  </div>
</ion-content>
