<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="header_title">Change Password</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="inputs_label" style="margin-top: 11.5px;">Enter Old Password</div>
    <div class="password_box" [class.active_input_box]="oldPasswordField==true">
      <ion-input class="password_input" (ionInput)="activate('old_pwd')"  placeholder="......." type="{{getType}}"></ion-input>
      <ion-icon style="color: #B0B0B0;" name="eye" *ngIf="showPassword==false" (click)="toggleGetType()"></ion-icon>
      <ion-icon style="color: #B0B0B0;" name="eye-off" *ngIf="showPassword==true" (click)="toggleGetType()"></ion-icon>
    </div>

    <div class="inputs_label" style="margin-top: 11.5px;">Enter New Password</div>
    <div class="password_box" [class.active_input_box]="newPasswordField==true">
      <ion-input class="password_input" (ionInput)="activate('new_pwd')"  placeholder="......." type="{{getType}}"></ion-input>
      <ion-icon style="color: #B0B0B0;" name="eye" *ngIf="showPassword==false" (click)="toggleGetType()"></ion-icon>
      <ion-icon style="color: #B0B0B0;" name="eye-off" *ngIf="showPassword==true" (click)="toggleGetType()"></ion-icon>
    </div>

    <div class="inputs_label" style="margin-top: 11.5px;">Enter Confirm Password</div>
    <div class="password_box" [class.active_input_box]="confirmPasswordField==true">
      <ion-input class="password_input" (ionInput)="activate('confirm_new_pwd')"  placeholder="......." type="{{getType}}"></ion-input>
      <ion-icon style="color: #B0B0B0;" name="eye" *ngIf="showPassword==false" (click)="toggleGetType()"></ion-icon>
      <ion-icon style="color: #B0B0B0;" name="eye-off" *ngIf="showPassword==true" (click)="toggleGetType()"></ion-icon>
    </div>

    <div >
      <ion-button class="login_button" (click)="updatePassword()">
        <span class="btn_text">Next</span>
      </ion-button>
    </div>
  </div>
</ion-content>
