<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">Live Chat</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="text-align: center;">
      <img src="assets/images/live_chat_img.svg" alt="">
    </div>
    <div class="heading">Need help?</div>
    <div class="heading" style="color: #8000FF;margin-top: 0px;">We're here</div>
    <div class="contact_div">
      <div class="contact_heading">Give us a call</div>
      <div class="contact_info">00971526454139</div>
    </div>
    <div class="contact_div" style="margin-top: 11.3px;">
      <div class="contact_heading">Email us</div>
      <div class="contact_info">360uae1@gmail.com</div>
    </div>

    <ion-button class="login_button" (click)="gotoHome()">
      <span class="btn_text">Chat with us</span>
    </ion-button>
  </div>
</ion-content>
