<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content >
          <div>
            <img (click)="closeMenu()" src="assets/images/icons/cancel.svg" alt="">
          </div>
          <div class="app_title" *ngIf="checkUser.appUserId==null">
            360UAE
          </div>
          <div *ngIf="checkUser.appUserId !== null && api.localUserData !== undefined " (click)="goForEditProfile()">
            <div class="profile_div">
              <img src="assets/images/sm_dummy_profile.svg" alt="" *ngIf="api.localUserData.profile_pic === '' ">
              <img class="profile_img" src="{{api.imageUrlString}}{{api.localUserData.profile_pic}}" alt="" *ngIf="api.localUserData.profile_pic !== '' && api.localUserData.account_type == 'SignupWithApp'">
              <img class="profile_img" src="{{api.localUserData.profile_pic}}" alt="" *ngIf="api.localUserData.profile_pic !== ''  && api.localUserData.account_type !== 'SignupWithApp'" >
              <img class="edit_icon" src="assets/images/icons/sm_edit_icon.svg" alt="">
            </div>
            
            <div class="user_name" >{{api.localUserData.username}}</div>
            <div class="location_box">
              <img style="margin-right: 6.3px;" src="assets/images/icons/sm_location_icon.svg" alt="">
              <span class="location" *ngIf="api.localUserData.location !== null">{{api.localUserData.location}}</span>
              <span class="location" *ngIf="api.localUserData.location === null">{{api.fetchLocation}}</span>
            </div>
          </div>
          
          <div style="height: 50px;"></div>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <div routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="--background: black !important; text-align: center;">
              <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
              <div style="margin-top: 20px; text-align: left;">
                <ion-row>
                  <ion-col style="padding: 0px;" size="2"><img  src="{{p.img}}"></ion-col>
                  <ion-col style="padding: 0px;" size="7"><ion-label class="item_label">{{ p.title }}</ion-label></ion-col>
                  <ion-col style="padding: 0px;" size="3"></ion-col>
                </ion-row>
              </div>
            </div>
          </ion-menu-toggle>
        
      </ion-content>
     
      <div style="padding: 20px 23px 30px;">
        <ion-row >
          <ion-col style="padding: 0px;" size="2" *ngIf="checkUser.appUserId==null"><img src="assets/images/icons/log_in_out_sm.svg" alt=""></ion-col>
          <ion-col style="padding: 0px;" size="2" *ngIf="checkUser.appUserId!=null"><img src="assets/images/icons/logout.svg" alt=""></ion-col>
          <ion-col style="padding: 0px;" size="7">
            <span (click)="gotoSignIn()" class="item_label" *ngIf="checkUser.appUserId==null">Login or Signup</span>
            <span (click)="logout()" class="item_label" *ngIf="checkUser.appUserId!=null">Logout</span>
          </ion-col>
          <ion-col style="padding: 0px;" size="3"></ion-col>
        </ion-row>
      </div>
    
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
