<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="app_title">360UAE</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="creat_account_msg">Create Your New Account</div>

    <div class="profile_div">
      <img src="assets/images/icons/profile_logo.svg" alt="">
    </div>
    <form [formGroup]="angForm" novalidate>
      <div>
        <div class="inputs_label">Username</div>
        <ion-input class="input_box" formControlName="name" (ionInput)="activate('userName')" [class.active_input_box]="activateUserNameField==true" placeholder="Username" type="text" ></ion-input>

        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)">
          <div *ngIf="angForm.controls['name'].errors.required">
            Name is required.
          </div>
        </div>

        <div class="inputs_label">Mobile number</div>
        <ion-input class="input_box" formControlName="number" (ionInput)="activate('phoneNumber')" [class.active_input_box]="activateUserNumberField==true" placeholder="Mobile number" type="number" ></ion-input>

        <div *ngIf="angForm.controls['number'].invalid && (angForm.controls['number'].dirty || angForm.controls['number'].touched)">
          <div *ngIf="angForm.controls['number'].errors.required">
            Number is required
          </div>
        </div>
        <!-- =====international phone input using angular =========== -->
        <!-- <div style="margin-top: 4px;" (input)="activate('phoneNumber')" [class.get_focus]="getFocus==true">
          <input type="text"
          ng2TelInput
          
          [ng2TelInputOptions]="{autoHideDialCode: false, initialCountry: 'ae', separateDialCode:true}"
          (hasError)="hasError($event)"
          (ng2TelOutput)="getNumber($event)"
          (intlTelInputObject)="telInputObject($event)"
          (countryChange)="onCountryChange($event)" />
        </div> -->
        <!-- ========================done============================ -->
        <div class="inputs_label">Email</div>
        <ion-input class="input_box" formControlName="email" (ionInput)="activate('email')" [class.active_input_box]="activateEmailField==true" placeholder="rose.matthews@gmail.com" type="email" ></ion-input>
        
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)">
          <div *ngIf="angForm.controls['email'].errors.required">
            Email is required
          </div>
          <div *ngIf="angForm.controls['email'].errors.email">
            Email is invalid
          </div>
        </div>

        <div class="inputs_label" >Password</div>
        <div class="password_box" [class.active_input_box]="activatePasswordField==true">
          <ion-input class="password_input" formControlName="password" (ionInput)="activate('pwd')"  placeholder="......." type="{{getType}}"  ></ion-input>
          
          
          
          <ion-icon style="color: #B0B0B0;" name="eye" *ngIf="showPassword==false" (click)="toggleGetType()"></ion-icon>
          <ion-icon style="color: #B0B0B0;" name="eye-off" *ngIf="showPassword==true" (click)="toggleGetType()"></ion-icon>
        </div>
        <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)">
          <div *ngIf="angForm.controls['password'].errors.required">
            Password is required
          </div>            
        </div>
      </div>
  
      <div style="margin-top: 24px;">
        <div style="display: flex;">
          <ion-checkbox slot="start" class="checkbox"></ion-checkbox>
          <span class="rem_fg_lablel" >I agree to the terms of service and privacy policy</span>
        </div>
        <div class="view_terms_link">View terms of service and privacy policy</div>
      </div>
  
      <ion-button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="login_button" (click)="gotoVerifyPhoneOtp()">
        <span class="btn_text">Sign up</span>
      </ion-button>
    </form>
    

    <div class="last_div"><span style="font-weight: 400;">Already have an account? </span> <span (click)="gotoSignIn()" style="font-weight: 700;text-decoration: underline;">Login</span> </div>
  </div>

</ion-content>
