ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FBFBFB !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
.header{
    display: flex;
    align-items: center;
    padding: 30px 16px 10px;
    position: relative;
}
.bgtoolbar{
    --background: #FBFBFB;
}
.wrapper{
    padding:15px 16px 20px;
}
.app_title{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #8000FF;
    margin: 0px auto;
}
.creat_account_msg{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0F172A;
    text-align: center;
}
.profile_div{
    margin-top: 16px;
    text-align: center;
}
.inputs_label{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #7E7E7E;
    margin-top: 16px;
}
.input_box{
    margin-top: 4px;
    border: 1px solid #EFEFEF;
    --background: #FBFBFB;
    --placeholder-color: #8D8D8D;
    font-family: 'Poppins',sans-serif;
    --placeholder-font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    color: black;
    --padding-start: 15px;
    --padding-end: 10px;
    height: 48px;
}
.password_box{
    display: flex;
    align-items: center;
    margin-top: 4px;
    border: 1px solid #EFEFEF;
    padding: 0px 16px 0px 8px;
    height: 48px;
}
.password_input{
    --background: #FBFBFB;
    font-family: 'Poppins',sans-serif;
    --placeholder-color: #8D8D8D;
    --placeholder-font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    color: black;
    --padding-start: 8px;
}
.active_input_box{
    border: 1px solid #8000FF;
}
.get_focus{
    border-bottom: none !important;
    border: 1px solid blue !important;
}
.checkbox{
    margin-right: 10.5px;
    --border-color: #8000FF;
    height: 16px;
    width: 16px;
    --background: #FBFBFB;
}
.rem_fg_lablel{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #7E7E7E;
}
.view_terms_link{
    margin-top: 4px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #8000FF;
}
.login_button{
    --border-radius: 0px;
    --background: #8000FF;
    height: 48px;
    width: 100%;
    margin: 45px auto 0px;
    --box-shadow:none;
}
.btn_text{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-transform: capitalize !important;
}
.last_div{
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0F172A;
}

