<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="header_title">Payment</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="text-align: center;">
      <img src="assets/images/payment Info_img.svg" alt="">
    </div>
    <div class="content_heading">Select payment method</div>

    <!-- <div>

      <div class="payment_method_box" style="margin-top: 15.4px;">
        <div style="display: flex;align-items: center;">
          <div style="margin-right: 18px;display: flex;">
            <img (click)="selectMethod('master')" src="assets/images/icons/marked.svg" alt="" *ngIf="master == true">
            <img (click)="selectMethod('master')" src="assets/images/icons/unmarked.svg" alt="" *ngIf="master != true">
            
          </div>
          <div>
            <div class="owner_name">Owner name</div>
            <div class="owner_info">4162 **** **** ****</div>
          </div>
        </div>
        <div>
          <img src="assets/images/icons/master_card.svg" alt="">
        </div>
      </div>
      
      <div class="payment_method_box" >
        <div style="display: flex;align-items: center;">
          <div style="margin-right: 18px;display: flex;">
            <img (click)="selectMethod('visa')" src="assets/images/icons/marked.svg" alt="" *ngIf="visa == true">
            <img (click)="selectMethod('visa')" src="assets/images/icons/unmarked.svg" alt="" *ngIf="visa != true">
            
          </div>
          <div>
            <div class="owner_name">Owner name</div>
            <div class="owner_info">4162 **** **** ****</div>
          </div>
        </div>
        <div>
          <img src="assets/images/icons/visa_icon.svg" alt="">
        </div>
      </div>

      <div class="payment_method_box" >
        <div style="display: flex;align-items: center;">
          <div style="margin-right: 18px;display: flex;">
            <img (click)="selectMethod('paypal')" src="assets/images/icons/marked.svg" alt="" *ngIf="paypal == true">
            <img (click)="selectMethod('paypal')" src="assets/images/icons/unmarked.svg" alt="" *ngIf="paypal != true">
            
          </div>
          <div>
            <div class="owner_name">PayPal</div>
            <div class="owner_info">Arslan********mail.com</div>
          </div>
        </div>
        <div>
          <img src="assets/images/icons/paypal_icon.svg" alt="">
        </div>
      </div>

    </div> -->

    <div style="margin-top: 20px;" id="your-container-element"></div>

    <div style="margin-top: 20px;">
      <form action="/" method="post" id="payment-form">
        <div class="form-row">
          <div id="card-element" style="display: block;margin-top: 20px;"> <!-- a Stripe Element will be inserted here. --> </div>
          <!-- Used to display Element errors -->
          <div id="card-errors" role="alert"></div>
        </div>
        <ion-button type="submit" color="success" expand="full">Make Payment</ion-button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <div style="padding: 0px 16px 25px;">
    <ion-button class="login_button" (click)="openBookedModal()">
      <span class="btn_text">Done</span>
    </ion-button>
    <!-- <ion-button class="login_button" (click)="openBookedModal()">
      <span class="btn_text">Pay</span>
    </ion-button>
    <ion-button class="login_button btn_border" style="--background:#FBFBFB; margin-top: 16px;" (click)="addPaymentMethod()">
      <span class="btn_text " style="color: #0F172A;">Add New Payment Method</span>
    </ion-button> -->
  </div>
</ion-footer>
