<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="header_title">Forgot Password</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">

    <div class="app_title">360UAE</div>

    <div class="otp_info_label">Enter the 4 digit code that you received on your registered email address.</div>

    <div style="text-align: center; margin-top: 11px;padding-left: 16px;">
      <ng-otp-input  (onInputChange)="onOtpChange($event)"   [config]="{length:4,allowNumbersOnly:true,placeholder:'0'}"></ng-otp-input>
    </div>
    
    <div style="position: relative; display: flex; justify-content: center;">
      <div class="timer_background"></div>
      <div class="position_content">
        <img class="timer_icon" src="assets/images/icons/timer.svg" alt="">
        <span class="timer_text">Expire in 02:00</span>
      </div>
      
    </div>

    <div class="resend_otp_link">Resend OPT(4)</div>

    <ion-button class="login_button" (click)="gotoSignIn()">
      <span class="btn_text">Next</span>
    </ion-button>

  </div>

</ion-content>
