ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FBFBFB !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
.header{
    display: flex;
    align-items: center;
    padding: 30px 16px 15px;
    position: relative;
}
.header_title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0F172A;
    margin: 0px auto;
}
.bgtoolbar{
    --background: #FBFBFB;
}
.wrapper{
    padding:15px 16px 20px;
}
.app_title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #8000FF;
    margin: 0px auto;
}
.otp_info_label{
    text-align: center;
    width: 80%;
    margin: 30px auto;
    color: #B0B0B0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.timer_box{
    background: rgba(255, 0, 0, 0.05);
    width: 240px;
    // width: 60%;
    height: 48px;
    padding: 10px 27px;
    display: flex;
    justify-content: center;
    margin: 21px auto 0px;
}
.timer_icon{
    margin-right:11.8px;
}
.position_content{
    display: flex;
    align-items: center;
}
.timer_text{
    // position: absolute;
    // bottom: 13.5px;
    // left: 42.5%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FF0000;
}
.resend_otp_link{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #8000FF;
    text-align: center;
    margin-top: 16px;
}
.login_button{
    --border-radius: 0px;
    --background: #8000FF;
    height: 48px;
    width: 100%;
    margin: 25px auto 0px;
}
.btn_text{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-transform: capitalize !important;
}