<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="title">Filter</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="date_alignment">
      <ion-datetime size="cover" class="date_box" presentation="date"></ion-datetime> 
    </div>
    <div class="price_box">
      <div><span class="price_label">Price</span><span class="per_hour_span">/day</span></div>
      <hr>
      <ion-range class="ion_range" 
        min="0" max="100" [dualKnobs]="true" 
        [value]="{ lower: 20, upper: 80 }">
      </ion-range>
      <div class="prices_div">
        <div class="price">$10</div>
        <div class="price">$250</div>
      </div>
    </div>
    <div class="price_box">
      <div><span class="price_label">Price</span><span class="per_hour_span">/month</span></div>
      <hr>
      <ion-range class="ion_range" 
        min="0" max="100" [dualKnobs]="true" 
        [value]="{ lower: 20, upper: 80 }">
      </ion-range>
      <div class="prices_div">
        <div class="price">$10</div>
        <div class="price">$250</div>
      </div>
    </div>

  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div style="margin: 10px 0px 15px;">
    <div style="text-align: center;">
      <ion-button class="invite_btn" (click)="gotoHomeAfterLogin()">
        <span class="btn-text">Apply</span>
      </ion-button>
    </div>
  </div>
</ion-footer>
