ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FCF6FF !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FCF6FF !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FCF6FF !important;
}

.header_footer_bg{
    background-color: #FBFBFB !important;
}
.content_background{
    --background: #FBFBFB !important;
}
.header{
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 16px 0px;
}
.bgtoolbar{
    --background: #FCF6FF;
}
.title{
    font-size: 20px;
    font-weight: 700;
    color: #0F172A;
    font-family: 'Poppins', sans-serif;
    margin: 0px auto;
}
.apply_label{
    font-size: 14px;
    font-weight: 600;
    color: #0F172A;
    font-family: 'Poppins', sans-serif;
    margin-right: 5px;
}
.wrapper{
    padding:12px 16px 16px;
}
ion-datetime.md{
    --background: #FBFBFB;
    color: #464646 !important;
}
ion-datetime.ios{
    color: #464646 !important;
}
.date_alignment{
    display: flex;
    justify-content: center;
}
.date_box{
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
}
.price_box{
    padding: 8px 12.5px;
    background: #FBFBFB;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
    margin: 12px auto 12px;
}
.selected_range{
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: black;
    margin-bottom: 5px;
    text-align: center;
}
.price_label{
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.per_hour_span{
    font-size: 10px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', sans-serif;
}
hr{
    border-bottom: 1px solid #EFEFEF !important;
    border-top: 0px !important;
    margin: 8px 0px 0px !important;
    color: #EFEFEF !important;
    opacity: 100% !important;
}
.ion_range{
    --bar-height: 4px;
    --bar-border-radius: 5.5px;
    --bar-background-active: #FBC505;
    padding: 0px;
    margin-top: 5px;
}
.ion_range.md{
    --pin-background: #FBC505;
    --knob-background: #FBC505;
}
.prices_div{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0px auto;
}
.price {
    color: #8D8D8D;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
// =======search result cars css============================
.car_info_box{
    display: flex;
    justify-content: space-between;
    background: #0F172A;
    border: 1px solid white;
    border-radius: 0px 0px 10px 10px;
    // position: absolute;
    bottom: 0;
    padding: 9px 12px 8.5px 16px;
    width: 100%;
}
.car_name{
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 1;
    text-align: left;
}
.star_margin{
    margin-right: 3.8px;
}
.rating_value{
    font-size: 12px;
    color: #D4DCE1;
    font-weight: 400;
    margin-left: 3px;
}
.car2_price{
    font-size: 11px;
    font-weight: 600;
    color: white;
}
.car2_info_subdiv{
    display: flex;
    align-items: center;
}
.heart_icon{
    position: absolute;right: 5%;top: 5%;
}
.car_div{
    text-align: center; margin-top: 13px; position: relative;
}
.car_image{
    object-fit: cover;width: 100%;height: 200px; border-radius: 10px 10px 0px 0px;
}
.left_subdiv{
    text-align: left;line-height: 1;margin-top: 3px;
}
// ==================done===============================
.bg{
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid #FBC505;
  background-color: #fff;
  width: 100%;
  padding: 10px 10px;
  transition:background-color 0.3s ease;
}
.selected {
  background-color: rgba(251, 197, 5, 0.5) !important;
}
.isselected{
  border:2px solid #FBC505 !important;
  color: #FBC505;
}
.bg img{
  width: 20px;
}
.bg2{
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid #FBC505;
  background-color: #fff;
  padding: 10px 20px;
  margin-right: 10%;
}
.carbadge{
  --background: white;
  color: #191919;
  border-color: #191919;
  border-radius: 20px;
  border: 1.5px solid #FBC505;
  font-weight: 500;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  transition:background-color 0.3s ease;
  font-size: clamp(12px, 2.5vw, 14px);
}
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;

  .scroll-item {
    display: inline-block;
    margin-right: 16px; /* Space between items */
    --background: white;
    color: #191919;
    border-color: #191919;
    border-radius: 20px;
    border: 1.5px solid #FBC505;
    font-weight: 500;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    padding: 8px 15px;
  }

  /* Optional: Hide scrollbar but still allow scrolling */
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none; /* For Firefox */
}

.badge{
  --background: white;
  color: #191919;
  border-color: #191919;
  border-radius: 20px;
  border: 1.5px solid #FBC505;
  font-weight: 500;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  padding: 12px 0px;
  width: 100%;
  transition:background-color 0.3s ease;
  font-size: clamp(12px, 2.5vw, 14px);
}
.py-badge{
  font-size: 12px;
  border: 1px solid #000;
  padding: 8px 15px;
  font-family: "Urbanist", sans-serif;
  border-radius: 20px;
  font-weight: 500;
}
.txt{
  font-size: 14px;margin-left: 5px;
}

.carItem_box{
  height: 50px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 4px 8px 8px;
  width: 100%;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
  transition:background-color 0.3s ease;
  // margin-right: 8px;
}
.selected_item{
  text-align: center;
  // background-color: #FBC505;
  background-color: rgba(251, 197, 5, 0.5) !important;

  border-radius: 10px;
  padding: 4px 8px 8px;
  width: 100%;
  // margin-right: 8px;
}
.fontActive{
  color: #191919 !important;
  font-family: "Urbanist", sans-serif;
  font-size: 10px;
  font-weight: 500;
}
.cars_label{
  // color: #D4DCE1;
  color: #000;
  font-family: "Urbanist", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.invite_btn{
    --background:#FBC505;
    --border-radius:0px;
    width:60%;
    height: 44px;
    margin-top: 9px;
    --box-shadow:none;
}
.btn-text{
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.clrcls{
    height: 45px;
    background-color: rgb(255, 0, 0);
    margin: 5px 0px 0px 8px;
    border-radius: 25px;
}
