
<ion-content>
  <div class="wrapper">
    <div style="text-align: right;">
      <img (click)="closeModal()" src="assets/images/icons/close_modal.svg" alt="">
    </div>
    <div style="text-align: center;">
      <img src="../../assets/images/ride_booked.svg" alt="">
    </div>
    <div class="congrats_label">Congratulation!</div>
    <div class="ride_booked_label">Your Ride is Booked.</div>
    <div style="text-align: center;margin-top: 16px;">
      <ion-button class="invite_btn" (click)="closeModal()">
        <span class="btn-text">Okay</span>
      </ion-button>
    </div>
  </div>
</ion-content>
