ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FBFBFB !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
.urbanist{
    font-family: "Urbanist", sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    padding: 30px 16px 8px;
    position: relative;
}
.header_title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #0F172A;
    margin: 0px auto;
}
.show_status{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #12D804;
}
.bgtoolbar{
    --background: #FBFBFB;
}
.wrapper{
    padding:15px 16px 20px;
}
.car_image{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.car_card{
    text-align: center;
    position: relative;
}
.heart_icon{
    position: absolute;
    right: 5%;
    top: 5%;
}
.left_subdiv{
    text-align: left;
    line-height: 1;
}
.booked_dates{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 5px 10px 0px;
}
.date_value{
    font-weight: 500;
    color: red;
}
.car_info_box{
    display: flex;
    justify-content: space-between;
    background: #0F172A;
    border: 1px solid white;
    border-radius: 0px 0px 10px 10px;
    // position: absolute;
    bottom: 0;
    padding: 9px 12px 8.5px 16px;
    width: 100%;
}
.car_name{
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 1;
    text-align: left;
}
.star_margin{
    margin-right: 3.8px;
}
.rating_value{
    font-size: 12px;
    color: #D4DCE1;
    font-weight: 400;
}
.dateTime_css{
    display: flex;
    justify-content: space-between;
}
.car2_price{
    font-size: 11px;
    font-weight: 600;
    color: white;
}
.car2_info_subdiv{
    display: flex;
    align-items: center;
}
.start_end_label{
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px; 
}
.date_time_label{
    color: #8000FF;
    font-family: 'Urbanist',sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.bookings_field{
    height: 48px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    border:1px solid #EFEFEF;
    padding: 12px 9px 16px;
}
.field_text{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8D8D8D;
}
.license_heading{
    margin-top: 18px;
    color: #000000;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.login_button{
    --border-radius: 0px;
    --background: #8000FF;
    height: 48px;
    width: 100%;
    margin: 20px auto 0px;
    --box-shadow:none;
}
.btn_text{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-transform: capitalize !important;
}