<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">Messages</div>
      <div class="bell_div">
        <div class="notifications" >{{totalNotifications}}</div>
        <img src="assets/images/icons/bell.svg" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="cover">
      <div style="display: flex;justify-content: space-between;padding: 0px 16px;">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 18px;">
            <img src="assets/images/message_profile_dummy1.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 48px;" src="assets/images/icons/active1.svg" alt="">
          </div>
          <div>
            <div class="name">Josh Gibson</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr>
  
      <!-- --------------------------------copy----------------------------- -->
      
      <div style="display: flex;justify-content: space-between;padding: 0px 16px;">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 18px;">
            <img src="assets/images/message_profile_dummy2.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 48px;" src="assets/images/icons/active2.svg" alt="">
          </div>
          <div>
            <div class="name">Miss Mindy Kub</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr>
      <!-- --------------------------------copy----------------------------- -->
      <div style="display: flex;justify-content: space-between;padding: 0px 16px;">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 18px;">
            <img src="assets/images/message_profile_dummy3.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 48px;" src="assets/images/icons/active3.svg" alt="">
          </div>
          <div>
            <div class="name">Roxanne Nitzsche</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr>
      <!-- --------------------------------copy----------------------------- -->
      <div style="display: flex;justify-content: space-between;padding: 0px 16px;">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 18px;">
            <img src="assets/images/message_profile_dummy4.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 48px;" src="assets/images/icons/active4.svg" alt="">
          </div>
          <div>
            <div class="name">Deanna Stamm</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr>
      <!-- --------------------------------copy----------------------------- -->
      <div style="display: flex;justify-content: space-between;padding: 0px 16px;">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 18px;">
            <img src="assets/images/message_profile_dummy5.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 48px;" src="assets/images/icons/active5.svg" alt="">
          </div>
          <div>
            <div class="name">Nettie Dicki V</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr>
      <!-- --------------------------------copy ----------------------------- -->
    </div>
    
    
  </div>
</ion-content>
