<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">Messages</div>
      <div class="bell_div" (click)="gotoNotifications()" *ngIf="api.toggleVal == true">
        <div class="notifications" *ngIf="totalNotifications > 0">{{totalNotifications}}</div>
        <img src="assets/images/icons/bell.svg" alt="">
      </div>
      <div  *ngIf="api.toggleVal != true" class="no_notifications"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="cover" *ngIf="response == true">
      <div *ngIf="chatList != undefined">
        <div *ngFor="let chat of chatList">
          <div  style="display: flex;justify-content: space-between;padding: 0px 13px;" (click)="startChat(chat.receiver_id,chat.company_name,chat.company_online)">
            <div style="display: flex;align-items: center;">
              <div style="position: relative; margin-right: 15px;">
                <img class="company_profile" src="{{api.imageUrlString}}{{chat.company_logo}}" alt="">
                <img style="position: absolute;bottom: 0px;left: 46px;" src="assets/images/icons/active1.svg" alt="" *ngIf="chat.company_online == 'Yes'">
                <img style="position: absolute;bottom: 0px;left: 46px;" src="assets/images/icons/active2.svg" alt="" *ngIf="chat.company_online == 'No'">
              </div>
              <div>
                <div class="name">{{chat.company_name}}</div>
                <div class="last_message" *ngIf="chat.last_message.message ">{{chat.last_message.message}}</div>
                <div class="last_message" *ngIf="!chat.last_message.message">{{chat.last_message}}</div>
              </div>
            </div>
            
            <div class="message_time">
              {{chat.date}}
              <div style="margin-top: 19.2px;" *ngIf="chat.last_message.status == 'Unread' && chat.last_message.sender_type == 'Companies'">
                {{chat.last_message.status}}
              </div>
            </div>
            
          </div>
          <hr>
        </div>
      </div>
      
      
      

  
      <!-- --------------------------------copy----------------------------- -->
      
      <!-- <div style="display: flex;justify-content: space-between;padding: 0px 13px;" (click)="gotoMessageOwnerSide()">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 15px;">
            <img src="assets/images/message_profile_dummy2.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 46px;" src="assets/images/icons/active2.svg" alt="">
          </div>
          <div>
            <div class="name">Miss Mindy Kub</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr> -->
      <!-- --------------------------------copy----------------------------- -->
      <!-- <div style="display: flex;justify-content: space-between;padding: 0px 13px;" (click)="gotoMessageOwnerSide()">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 15px;">
            <img src="assets/images/message_profile_dummy3.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 46px;" src="assets/images/icons/active3.svg" alt="">
          </div>
          <div>
            <div class="name">Roxanne Nitzsche</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr> -->
      <!-- --------------------------------copy----------------------------- -->
      <!-- <div style="display: flex;justify-content: space-between;padding: 0px 13px;" (click)="gotoMessageOwnerSide()">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 15px;">
            <img src="assets/images/message_profile_dummy4.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 46px;" src="assets/images/icons/active4.svg" alt="">
          </div>
          <div>
            <div class="name">Deanna Stamm</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr> -->
      <!-- --------------------------------copy----------------------------- -->
      <!-- <div style="display: flex;justify-content: space-between;padding: 0px 13px;" (click)="gotoMessageOwnerSide()">
        <div style="display: flex;align-items: center;">
          <div style="position: relative; margin-right: 15px;">
            <img src="assets/images/message_profile_dummy5.svg" alt="">
            <img style="position: absolute;bottom: 0px;left: 46px;" src="assets/images/icons/active5.svg" alt="">
          </div>
          <div>
            <div class="name">Nettie Dicki V</div>
            <div class="last_message">Subject line comes here</div>
          </div>
        </div>
        
        <div class="message_time">
          10 min ago
        </div>
      </div>
      <hr> -->
      <!-- --------------------------------copy ----------------------------- -->
    </div>
    <div *ngIf="response == false" class="no_messages">
      No messages yet
    </div>
    
  </div>
</ion-content>
<ion-footer>
  <ion-tabs style="display:contents ;">

    <ion-tab-bar class="ion_tab_bar" slot="bottom">

      <ion-tab-button  style="background: white;" (click)="homeTab()">
        <img src="assets/images/tab_icons/home.svg" alt="">
        <ion-label class="btn_label">Home</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button  style="background: white;" (click)="messagesTab()">
        <img style="height: 32px;width: 32px;"  src="assets/images/tab_icons/messages_active.svg" alt="">
        <ion-label class="btnActive_label" >Messages</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  style="background: white;" (click)="bookingTab()">
        <img src="assets/images/tab_icons/booking.svg" alt="">
        <ion-label class="btn_label">Booking</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  style="background: white;" (click)="favoriteTab()">
        <img src="assets/images/tab_icons/favorite.svg" alt="">
        <ion-label class="btn_label">Favorities</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-footer>
