ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FCF6FF !important;
}
ion-content{
    font-family: 'Poppins', sans-serif;
    --background:#FCF6FF !important;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FCF6FF !important;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 16px 15px;
}
.bgtoolbar{
    --background: #FCF6FF;
}
.title{
    font-size: 20px;
    font-weight: 700;
    color: #0F172A;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    padding:5px 16px 20px;    
}
.name_price_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FBFBFB;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
    padding: 11px 12px 10px;
    border-radius: 5px;
    height: 55px;
}
.car_name{
    font-size: 24px;
    font-weight: 700;
    color: #0F172A;
    font-family: "Poppins", sans-serif;
}
.price_val{
    color: #8000FF;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
}
.category_label{
    // margin-left: 8px;
    color: black;
    font-family: "Urbanist", sans-serif;
    font-size: 10px;
    font-weight: 500;
}
.categories{
    width: 100px;
    position: absolute;
    z-index: 1;
    background: #FBFBFB;
    top: 20px;
    right: 0px;
    padding: 4px 8px;
    // border: 1px solid #0F172A;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
}
.rotate_icon{
    transform: rotate(180deg);
}
.box_styling{
    background: #FBFBFB;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
    padding: 8px 9px;
    border-radius: 5px;
}
.box_heading{
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: "Poppins", sans-serif;
}
.box_description{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", sans-serif;
    height: auto;
    max-height: 90px;
    overflow: hidden;
}
.box_sub_heading{
    margin-top: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #8000FF;
    font-family: "Poppins", sans-serif;
}
.inner_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.star_margin{
    margin-right: 3px;
}
.trips_label{
    font-size: 12px;
    font-weight: 600;
    color: #0F172A;
    font-family: "Poppins", sans-serif;
}
.invite_btn{
    --background:#8000FF;
    --border-radius:0px;
    width:65%;
    height: 44px;
    margin-top: 9px;
    --box-shadow:none;
}
.btn-text{
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
