<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="title">BMW 2 series</div>
      <div>
        <img src="assets/images/icons/chat.svg" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div style="display: flex;justify-content: center;width: 100%;">
      <img style="width:100%" src="assets/images/selectedCar.svg" alt="">
    </div>
    <div class="name_price_box">
      <div class="car_name">BMW 2 series</div>
      <div>
        <span class="price_val" style="font-size:11px">$</span>
        <span class="price_val" style="font-size:32px">26</span>
        <span class="per_hour" style="font-size: 10px;">/Hour</span>
      </div>
    </div>
    <div class="description_box">
      <div class="label_description">Description</div>
      <div class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 
        1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book.It has survived not only five centuries, but 
        also the leap into electronic typesetting, remaining essentially 
        unchanged. It was popularised in the 1960s with the release of Letraset 
        sheets containing Lorem Ipsum passages, and more recently with desktop 
        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      
    </div>

  </div>

</ion-content>
