<ion-header class="ion-no-border" [class.header_footer_bg]="this.checkUser.appUserId != null">
  <ion-toolbar class="bgtoolbar" [class.content_background]="this.checkUser.appUserId != null">
    <div class="header">
      <img (click)="goBack()" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="title">BMW 2 series</div>
      <div>
        <img (click)="startChatwithOwner()" src="assets/images/icons/chat.svg" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [class.content_background]="this.checkUser.appUserId != null">
  <div class="wrapper">
    <div *ngFor="let data of carData">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div style="display: flex;justify-content: center;width: 100%; position: relative;">
            <img style="position: absolute;right: 5%;top: 8%;" src="assets/images/icons/heart.svg" alt="">
            <img class="car_image" src="{{data.image1}}" alt="">
          </div>
        </ion-slide>
        <ion-slide>
          <div style="display: flex;justify-content: center;width: 100%; position: relative;">
            <img style="position: absolute;right: 5%;top: 8%;" src="assets/images/icons/heart.svg" alt="">
            <img class="car_image" src="{{data.image2}}" alt="">
          </div>
        </ion-slide>
        <ion-slide>
          <div style="display: flex;justify-content: center;width: 100%; position: relative;">
            <img style="position: absolute;right: 5%;top: 8%;" src="assets/images/icons/heart.svg" alt="">
            <img class="car_image" src="{{data.image3}}" alt="">
          </div>
        </ion-slide>
        <ion-slide>
          <div style="display: flex;justify-content: center;width: 100%; position: relative;">
            <img style="position: absolute;right: 5%;top: 8%;" src="assets/images/icons/heart.svg" alt="">
            <img class="car_image" src="{{data.image4}}" alt="">
          </div>
        </ion-slide>
        <ion-slide>
          <div style="display: flex;justify-content: center;width: 100%; position: relative;">
            <img style="position: absolute;right: 5%;top: 8%;" src="assets/images/icons/heart.svg" alt="">
            <img class="car_image" src="{{data.image5}}" alt="">
          </div>
        </ion-slide>
      </ion-slides>
        
  
      <div class="name_price_box">
            <div class="car_name">{{data.vehical_name}}</div>
        <div style="display: flex;align-items: baseline;">
          <span class="price_val" style="font-size:11px">$</span>
          <span class="price_val" style="font-size:32px" *ngIf="categoryVal=='Day'">{{data.rent_cost_day}}</span>
          <span class="price_val" style="font-size:32px" *ngIf="categoryVal=='Month'">{{data.rent_cost_month}}</span>
          <span class="price_val" style="font-size:32px">26</span>
          <span class="category_label" style="font-size: 10px;">/</span>
          
          <div (click)="displayCategories()" style="display: flex;align-items: baseline;position: relative;">
            <span class="category_label" style="margin-right: 5px;">{{categoryVal}}</span> 
            <img [class.rotate_icon]="showCategories==true"  src="assets/images/icons/dropdown_icon.svg" alt="">
            <div *ngIf="showCategories==true" class="categories">
              <div *ngFor="let type of rentCategories" (click)="selectedCategory(type.category)">
                <span class="category_label" style="font-size: 12px; font-family: 'Poppins',sans-serif;">{{type.category}}</span>
              </div> 
            </div>  
          </div>
        </div>
  
      </div>
  
      <div class="box_styling">
        <div class="box_heading">Description</div>
        <div class="box_description">
          {{data.description}}
        </div>
      </div>
    </div>
    

    <div class="box_styling">
      <div class="box_heading">Owner's Details</div>
      <div class="box_sub_heading">About</div>
      <div class="box_description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since
        the 1500s.
      </div>
    </div>

    <div class="box_styling">
      <div class="box_sub_heading" style="margin-top: 0px;">Location</div>
      <div class="box_description" style="margin-top: 4px;">
        Los Angeles, CA 90015
      </div>
    </div>

    <div class="box_styling" style="padding: 14px 14px 15px;" (click)="gotoRatings()">
      <div class="inner_box">
        <div>
          <span class="box_heading" style="margin-right: 10px;">Ratings</span>
          <span style="margin-right: 6px;">
            <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="star_margin" src="assets/images/icons/rated_star.svg" alt="">
            <img class="star_margin" src="assets/images/icons/empty_star.svg" alt="">
          </span>
          <span class="trips_label">269 trips</span>
        </div>
        <div>
          <img src="assets/images/icons/next.svg" alt="">
        </div>
      </div>
      
    </div>

  </div>

</ion-content>

<ion-footer class="ion-no-border" [class.header_footer_bg]="this.checkUser.appUserId != null">
    <div style="margin: 10px 0px 15px;">
      <div style="text-align: center;">
        <ion-button class="invite_btn" (click)="startCarBooking()">
          <span class="btn-text">Book Now</span>
        </ion-button>
      </div>
    </div>
</ion-footer>
