/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import 'swiper/scss';
@import '@ionic/angular/css/ionic-swiper';
@import 'swiper/scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';
@import 'swiper/scss/scrollbar';
@import 'swiper/scss/zoom';
@import '@ionic/angular/css/ionic-swiper';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;700&family=Urbanist:wght@300;400;500;700&display=swap');

  ion-input,ion-textarea,ion-label{
    font-family: 'Poppins', sans-serif;
    --placeholder-opacity: 0px !important;
  }
  .swiper-pagination-bullet {
    margin: 0 4px;
    width: 24px;
    height: 2px;
    border-radius: 0px;
   opacity: 0.5;
    --bullet-background:rgb(255, 255, 255) !important;
    // note: A color having opacity makes problem
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    --bullet-background-active:white !important;
    width: 24px !important;
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    bottom: 3px !important;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .otp-input{
    width: 48px !important;
    height: 48px !important;
    border-radius: 0px !important;
    border: solid 1px #EFEFEF !important;
    text-align: center !important;
    background: #FBFBFB !important;
    margin-right: 16px !important;
    font-family: 'Poppins',sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: black !important;
  }
  .inputClass{
    border: solid 1px #8000FF !important;
  }
  .give_ratings{
    --height: 470px;
    --border-radius: 20px;
    --width: 90%;
    background: rgb(15, 23, 42, 0.5);
  }
  .cancel_booking{
    --height: 420px;
    --border-radius: 20px;
    --width: 90%;
    background: rgba(15, 23, 42, 0.5);
  }
  .date_modal{
    // padding-top: 88%;
    --width: 90%;
    --height: 558px;
    background: rgba(15, 23, 42, 0.5);
    --border-radius: 20px 20px 20px 20px;
  }
  .time_modal{
    // padding-top: 100%;
    --width: 90%;
    --height: 455px;
    background: rgba(15, 23, 42, 0.5);
    --border-radius: 20px 20px 20px 20px;
  }
  .booked_modal{
    --height: 345px;
    --border-radius: 20px;
    --width: 90%;
    background: rgba(15, 23, 42, 0.5);
  }
  .add_payment_method{
    --width: 90%;
    --height: 505px;
    background: rgba(15, 23, 42, 0.5);
    --border-radius: 20px 20px 20px 20px;
  }
  .expiry_date{
    --width: 90%;
    --height: 505px;
    // background: rgba(15, 23, 42, 0.5);
    --border-radius: 20px 20px 20px 20px;
  }
  // .expiry_date.ios{
  //   --width: 90%;
  //   --height: 420px;
  //   // background: rgba(15, 23, 42, 0.5);
  //   --border-radius: 20px 20px 20px 20px;
  // }
  .delete_account {
    --height: 330px;
    --border-radius: 20px;
    --width: 90%;
    background: rgba(15, 23, 42, 0.5);
  }
  @media only screen and (min-width: 540px){
    .give_ratings {
      --height: 440px;
      --border-radius: 20px;
      --width: 90%;
      background: rgba(15, 23, 42, 0.5);
    }
  }

  @media only screen and (min-width: 632px){
    .cancel_booking {
      --height: 365px;
      --border-radius: 20px;
      --width: 90%;
      background: rgba(15, 23, 42, 0.5);
    }
    .give_ratings {
      --height: 445px;
      --border-radius: 20px;
      --width: 90%;
      background: rgba(15, 23, 42, 0.5);
    }
    .delete_account {
      --height: 310px;
      --border-radius: 20px;
      --width: 90%;
      background: rgba(15, 23, 42, 0.5);
    }
  }
//   @media only screen 
//   and (min-device-height: 667px) 
//   and (max-device-height: 700px) 
//    { 
//     .cancel_booking{
//       --height: 62%;
//       --max-height: 62%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 73.5%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//    }
//     .date_modal{
//       padding-top: 37%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .time_modal{
//       padding-top: 60%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 52.5%;
//       --max-height: 52.5%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 45.5%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 50%;
//       --max-height: 50%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//   }
//   @media only screen 
//   and (min-device-height: 720px) 
//   and (max-device-height: 736px) 
//    { 
//     .cancel_booking{
//       --height: 57.5%;
//       --max-height: 62%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 67%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 50%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .time_modal{
//       padding-top: 70%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 47.5%;
//       --max-height: 50.5%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 58%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 46%;
//       --max-height: 46%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//   }
//   @media only screen 
//   and (min-device-height: 737px) 
//   and (max-device-height: 742px) {
//     .date_modal{
//       padding-top: 60%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 80%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 47.3%;
//       --max-height: 50.5%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 67%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 46%;
//       --max-height: 46%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//   }
//   @media only screen 
//   and (min-device-height: 780px) 
//   and (max-device-height: 812px) 
//    { 
//     .cancel_booking{
//       --height: 52%;
//       --max-height: 62%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 61%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 75%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 97%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 43%;
//       --max-height: 43%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 84%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 42%;
//       --max-height: 42%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//   }
//   @media only screen 
//   and (min-device-height: 830px) 
//   and (max-device-height: 852px) 
//    { 
//     .cancel_booking{
//       --height: 50%;
//       --max-height: 62%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 58.5%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 80%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 100%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//   }
//   @media only screen 
//   and (min-device-height: 870px) 
//   and (max-device-height: 902px) 
//    { 
//     .cancel_booking{
//       --height: 48%;
//       --max-height: 62%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 55.5%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 88%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 106%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 39%;
//       --max-height: 39.5%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 95%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 38%;
//       --max-height: 38%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//   }
//   @media only screen 
//   and (min-device-height: 903px) 
//   and (max-device-height: 916px) 
//    { 
//     .cancel_booking{
//       --height: 46.5%;
//       --max-height: 62%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 54.5%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 93%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 110%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 38.3%;
//       --max-height: 41.5%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 98%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 38%;
//       --max-height: 38%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//   }
//   // ====================ipad media query===============
//   @media only screen 
//   and (min-device-width: 768px) 
//   and (max-device-width: 1024px) 
//   and (-webkit-min-device-pixel-ratio: 1) {
//     .cancel_booking{
//       --height: 35%;
//       --max-height: 38%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 45.5%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 74%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 94%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 34.5%;
//       --max-height: 41.5%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 80%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 32%;
//       --max-height: 32%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
// }
// @media only screen 
//   and (min-device-width: 1024px) 
//   and (max-device-width: 1366px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//     .cancel_booking{
//       --height: 27%;
//       --max-height: 38%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 34.5%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 75%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 97%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 24%;
//       --max-height: 24%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }

// }
// @media only screen 
//   and (min-device-width: 820px) 
//   and (max-device-width: 1180px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//     .cancel_booking{
//       --height: 31%;
//       --max-height: 38%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .give_ratings {
//       --height: 39%;
//       --max-height: 74%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .date_modal{
//       padding-top: 85%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//       }
//     .time_modal{
//       padding-top: 105%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .booked_modal {
//       --height: 30.5%;
//       --max-height: 41.5%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
//     .add_payment_method {
//       padding-top: 93%;
//       background: rgba(15, 23, 42, 0.5);
//       --border-radius: 20px 20px 0px 0px;
//     }
//     .delete_account{
//       --height: 28%;
//       --max-height: 28%;
//       --border-radius: 20px;
//       --width: 90%;
//       background: rgba(15, 23, 42, 0.5);
//     }
// }

// @media only screen 
// and (min-device-width: 912px)
// and (max-device-height: 1368px){
//   .date_modal{
//     padding-top: 95%;
//     background: rgba(15, 23, 42, 0.5);
//     --border-radius: 20px 20px 0px 0px;
//     }
//   .time_modal{
//     padding-top: 115%;
//     background: rgba(15, 23, 42, 0.5);
//     --border-radius: 20px 20px 0px 0px;
//   }
//   .booked_modal {
//     --height: 25.5%;
//     --max-height: 41.5%;
//     --border-radius: 20px;
//     --width: 90%;
//     background: rgba(15, 23, 42, 0.5);
//   }
//   .add_payment_method {
//     padding-top: 105%;
//     background: rgba(15, 23, 42, 0.5);
//     --border-radius: 20px 20px 0px 0px;
//   }
//   .delete_account{
//     --height: 24%;
//     --max-height: 24%;
//     --border-radius: 20px;
//     --width: 90%;
//     background: rgba(15, 23, 42, 0.5);
//   }
// }
// @media only screen 
// and (min-device-width: 540px)
// and (max-device-height: 720px){
//   .date_modal{
//     padding-top: 36%;
//     background: rgba(15, 23, 42, 0.5);
//     --border-radius: 20px 20px 0px 0px;
//     }
//   .time_modal{
//     padding-top: 50%;
//     background: rgba(15, 23, 42, 0.5);
//     --border-radius: 20px 20px 0px 0px;
//   }
//   .add_payment_method {
//     padding-top: 40%;
//     background: rgba(15, 23, 42, 0.5);
//     --border-radius: 20px 20px 0px 0px;
// }
// }
// ================international phone input scss=======================
  input:focus{
    outline: none !important;
  }

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] :focus{
    padding-right: 0% !important;
    padding-left: 100px !important;
    margin-left: 0;
    background: #FBFBFB !important;
    height: 48px;
    width: 100% !important;
    border: 1px solid #EFEFEF;
    border-radius: 0px !important;
    touch-action: none !important;
    color: black;
  }
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: inherit;
    /* color: black !important; */
  }
.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
  }
.iti {
    width: 100%;
    position: relative;
    display: inline-block;
    border-color: none;
  }
.iti-mobile .iti__country-list {
  max-height: 43% !important;
  width: 85% !important;
  height: auto;
  left: 0px !important;
  top: 45%;
}
.iti-mobile .iti--container {
  top: 50%;
  bottom: 30px;
  left: 20px !important;
  right: 20px !important;
  position: fixed;
}
.iti__country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
  /* height: 40%; */
  -webkit-overflow-scrolling: touch;
  bottom: 50px;
  /* height: 50%; */
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: #FBFBFB !important;
    border-right: 1px solid #D4DCE1;
}
// .iti.iti--allow-dropdown.iti--separate-dial-code:focus {
//     border: 1px solid blue;
// }
  // ============================done====================================
  // @font-face {
  //   font-family: 'BebasAR-Regular';
  //   src: url(assets/fonts/BebasAR-Regular.otf);
  // }
  
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
