ion-content{
    --background:#FBFBFB !important;
}
.wrapper{
    padding: 20px;
}
.date_label{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-bottom: 6px;
}
ion-datetime.md{
    --background: #FBFBFB;
    color: #464646;
}
ion-datetime.ios{
    color: #464646;
}