ion-header{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
ion-content.background{
    --background: url('../../assets/images/empty_street.svg') no-repeat center center / cover;
    background-color: #FBFBFB !important;
    font-family: "Poppins", sans-serif;
}
ion-footer{
    font-family: 'Poppins', sans-serif;
    background-color: #FBFBFB !important;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 16px 45px;
}
.bgtoolbar{
    --background: #FBFBFB;
}
.menuicon{
	color: var(--menu-icon);
}
.title{
    font-size: 20px;
    font-weight: 700;
    color: #0F172A;
    font-family: 'Poppins', sans-serif;
}
.notifications{
    font-family: "Urbanist", sans-serif;
    position: absolute;
    background: #D93A3A;
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 14px;
    width: 14px;
    text-align: center;
    border-radius: 50%;
    bottom: 12px;
    left: 10px;
}
.bell_div{
    position: relative;
    padding-right: 6.5px;
    display: flex;
}
.no_favorite{
    margin-top: 50px;text-align: center;
}
.heading{
    font-family: 'Poppins',sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #464646;
    text-align: center;
    margin-top: 20px;
}