<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">Favorite</div>
      <div class="bell_div">
        <div class="notifications" >{{totalNotifications}}</div>
        <img src="assets/images/icons/bell.svg" alt="">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="wrapper">
    <div class="no_favorite">
      <img src="assets/images/no_favorites.svg" alt="">
    </div>
    <div class="heading">No Favorites yet</div>
  </div>
</ion-content>
