<ion-header class="ion-no-border" [class.header_footer_bg]="checkUser.appUserId != null">
  <ion-toolbar class="bgtoolbar" [class.content_background]="checkUser.appUserId != null">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="title">Document Required</div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [class.content_background]="checkUser.appUserId != null">
  <div class="wrapper">
    <p class="para">
      You are eligible to rent a car across the UAE provided you have the below mentioned documents valid with you:
    </p>

    <div *ngIf="errorshow==true" style="background: #dedede;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 5%">{{msgshow}}</div>
    <div *ngIf="uaeResidentsDocs.length > 0" class="main">
      <div class="htext">For UAE Residents</div>
      <div class="inner-main">
        <img src="assets/images/uaevisa.png">
        <!-- Loop for UAE Residents Documents -->
        <div class="icon-text-wrapper" *ngFor="let doc of uaeResidentsDocs">
          <img src="assets/images/check.png" class="tick-icon">
          <span class="text-after-icon">{{ doc.name }}</span>
        </div>
      </div>
    </div>

    <!-- Dynamic Section for Tourists -->
    <div *ngIf="touristDocs.length > 0" class="main">
      <div class="htext">For Tourists visiting the UAE</div>
      <div class="inner-main">
        <img src="assets/images/visiting.png">
        <!-- Loop for Tourists Documents -->
        <div class="icon-text-wrapper" *ngFor="let doc of touristDocs">
          <img src="assets/images/check.png" class="tick-icon">
          <span class="text-after-icon">{{ doc.name }}</span>
        </div>
      </div>
    </div>


    <!-- <div class="main">
      <div class="htext">For Tourists visiting the UAE</div>
      <div class="inner-main">

        <img src="assets/images/visiting.png">

        <div class="icon-text-wrapper">
          <img src="assets/images/check.png" class="tick-icon">
          <span class="text-after-icon">Passport</span>
        </div>

        <div class="icon-text-wrapper">
          <img src="assets/images/check.png" class="tick-icon">
          <span class="text-after-icon">Visit Visa</span>
        </div>

        <div class="icon-text-wrapper">
          <img src="assets/images/check.png" class="tick-icon">
          <span class="text-after-icon">Home Country Driving License</span>
        </div>

        <div class="icon-text-wrapper">
          <img src="assets/images/check.png" class="tick-icon">
          <span class="text-after-icon">International Driving Permit (IDP)</span>
        </div>
      </div>
    </div> -->

    <div class="para2">
      Visitors form the GCC,US,UK,Canada,Europe and certain other countries can drive with their home country driving
      license, without the need of an IDP.
    </div>
  </div>

</ion-content>