<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <img (click)="goBack()" style="position: absolute;" src="assets/images/icons/back_arrow.svg" alt="">
      <div class="header_title">Notifications</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="notification_box" style="background: white;">
      <div style="margin-right: 16px;"><img src="assets/images/icons/notification_dummy1.svg" alt=""></div>
      <div>
        <div class="notification_text">company name accepted your booking.</div>
        <div class="notification_time">6:40 am</div>
      </div>
    </div>
    <div class="notification_box" style="background: rgba(255, 255, 255, 0);">
      <div style="margin-right: 16px;"><img src="assets/images/icons/notification_dummy2.svg" alt=""></div>
      <div>
        <div class="notification_text">company name accepted your booking.</div>
        <div class="notification_time">6:40 am</div>
      </div>
    </div>
    <div class="notification_box" style="background: white;">
      <div style="margin-right: 16px;"><img src="assets/images/icons/notification_dummy3.svg" alt=""></div>
      <div>
        <div class="notification_text">company name accepted your booking.</div>
        <div class="notification_time">6:40 am</div>
      </div>
    </div>
    <div class="notification_box" style="background: rgba(255, 255, 255, 0)">
      <div style="margin-right: 16px;"><img src="assets/images/icons/notification_dummy4.svg" alt=""></div>
      <div>
        <div class="notification_text">company name accepted your booking.</div>
        <div class="notification_time">6:40 am</div>
      </div>
    </div>
    <div class="notification_box" style="background: white;">
      <div style="margin-right: 16px;"><img src="assets/images/icons/notification_dummy5.svg" alt=""></div>
      <div>
        <div class="notification_text">company name accepted your booking.</div>
        <div class="notification_time">6:40 am</div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-tabs style="display:contents ;">

    <ion-tab-bar class="ion_tab_bar" slot="bottom">

      <ion-tab-button  style="background: white;" (click)="homeTab()">
        <img src="assets/images/tab_icons/home.svg" alt="">
        <ion-label class="btn_label">Home</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button  style="background: white;" (click)="messagesTab()">
        <img style="height: 32px;width: 32px;"  src="assets/images/tab_icons/messages.svg" alt="">
        <ion-label class="btn_label">Messages</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  style="background: white;" (click)="bookingTab()">
        <img src="assets/images/tab_icons/booking.svg" alt="">
        <ion-label class="btn_label">Booking</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  style="background: white;" (click)="favoriteTab()">
        <img src="assets/images/tab_icons/favorite.svg" alt="">
        <ion-label class="btn_label">Favorities</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-footer>
