<ion-header class="ion-no-border">
  <ion-toolbar class="bgtoolbar">
    <div class="header">
      <ion-menu-button class="menuicon"></ion-menu-button>
      <div class="title">Settings</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="settings_item" (click)="toggleNotifications()">
        <div>
          <div class="heading">Notifications</div>
          <div class="heading_description">Enable your notifications</div>
        </div>
        <div>
          <ion-toggle class="ion_toogle" checked="{{toggleVal}}"></ion-toggle>
        </div>
    </div>

    <div class="settings_item" (click)="goForPaymentDetails()">
        <div>
          <div class="heading">Payment Details</div>
          <div class="heading_description">Add your cards for quick payments</div>
        </div>
        <div>
          <img src="assets/images/icons/next.svg" alt="">
        </div>
    </div>

    <div class="settings_item" (click)="goForChangePassword()">
        <div>
          <div class="heading">Change Password</div>
          <div class="heading_description">Update your password</div>
        </div>
        <div>
          <img src="assets/images/icons/next.svg" alt="">
        </div>
    </div>

    <div class="settings_item" (click)="editProfile()">
        <div>
          <div class="heading">Profile</div>
          <div class="heading_description">Update your profile</div>
        </div>
        <div>
          <img src="assets/images/icons/next.svg" alt="">
        </div>
    </div>

    <div class="settings_item" (click)="deleteAccountModal()">
        <div>
          <div class="heading" style="color: #FF0000;">Delete Account</div>
          <div class="heading_description">Delete your account</div>
        </div>
        <div>
          <img src="assets/images/icons/next.svg" alt="">
        </div>
    </div>

    <div class="language_label">Choose your language</div>
    <div class="language_div" >
      <ion-button class="language_btn urbanist english" [class.active_language]="english_language==true" (click)="changeLanguage()" >
        <!-- <img style="margin-right: 6.5px;" src="assets/images/icons/language_icon.svg" alt="" *ngIf="english_language==true"> -->
        <!-- <img style="margin-right: 6.5px;" src="assets/images/icons/language_icon_dull.svg" alt="" *ngIf="english_language==false"> -->
        <span>English</span>
      </ion-button>
      <ion-button class="language_btn noto_sans_arabic arabic" [class.active_language]="arabic_language==true" (click)="changeLanguage()">
        <!-- <img style="margin-right: 6.5px;" src="assets/images/icons/language_icon.svg" alt="" *ngIf="arabic_language==true"> -->
        <!-- <img style="margin-right: 6.5px;" src="assets/images/icons/language_icon_dull.svg" alt="" *ngIf="arabic_language==false"> -->
        <span>العربی</span>
      </ion-button>
    </div>
  </div>
</ion-content>
